@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1,
h2 {
  text-decoration: underline;
  -webkit-text-decoration-color: #4946c3;
          text-decoration-color: #4946c3;
  text-shadow: #101630;
  text-transform: uppercase;
}

.nav-link:hover {
  cursor: pointer;
}

body {
  background: #101630;
  color: #fbfbfb;
  font-family: "Montserrat", sans-serif;
}

.navigation {
  background: #101630 !important;
}

.navigation .nav .nav-link {
  margin-left: 1.5rem;
  font-size: 1rem;
  color: #4fb7dc;
  font-weight: 500;
  outline: 0;
  border: none;
}

.navigation .nav .nav-link:hover {
  color: #fbfbfb !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateZ(120%);
          transform: translateZ(120%);
}

.navigation .btn__contact {
  background: #4fb7dc;
  background: linear-gradient(40deg, #4fb7dc 0%, #4946c3 100%);
  outline: 0;
  border: none;
  font-weight: 600;
  color: #fbfbfb !important;
}

.navigation .btn__contact:hover {
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  background: #4fb7dc;
  background: linear-gradient(80deg, #4fb7dc 0%, #4946c3 100%);
}

.navigation__mobile {
  background: #101630 !important;
}

.navigation__mobile .navbar-toggler {
  background: #4fb7dc;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navigation__mobile .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.canvas__body {
  background: #4fb7dc;
  background: linear-gradient(240deg, #4fb7dc 0%, #4946c3 100%);
}

.canvas__body .canvas__nav a {
  color: #fbfbfb !important;
  font-size: 1.3rem;
  font-weight: 500;
}

.canvas__body .canvas__nav .btn {
  background: #4fb7dc;
  background: linear-gradient(40deg, #4fb7dc 0%, #4946c3 100%);
  -webkit-box-shadow: 0 0 5px #4946c3;
          box-shadow: 0 0 5px #4946c3;
  font-weight: 600;
}

.slider__section {
  background: url("../img/sliderbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__section p {
  font-size: 1.4rem;
  font-weight: 600;
}

.slider__section h1 {
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 5px;
  font-size: 5rem;
}

.slider__section h1 span {
  color: #4fb7dc;
}

.slider__section .btn {
  background: #4fb7dc;
  background: linear-gradient(40deg, #4fb7dc 0%, #4946c3 100%);
  outline: 0;
  border: none;
  -webkit-box-shadow: 0 0 5px #4946c3;
          box-shadow: 0 0 5px #4946c3;
  font-weight: 600;
}

.slider__section .btn:hover {
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  background: #4fb7dc;
  background: -webkit-gradient(linear, left top, left bottom, from(#4fb7dc), to(#4946c3));
  background: linear-gradient(180deg, #4fb7dc 0%, #4946c3 100%);
}

.about__section .about__img img {
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 5px #101630;
          box-shadow: 0 0 5px #101630;
}

.about__section .about__img .border__div {
  border: 8px solid #4fb7dc;
  width: 280px;
  height: 280px;
  border-radius: 1rem;
  left: 32%;
  top: 7%;
  z-index: -1;
}

.about__section .btn-hire {
  width: 100%;
  background: #4fb7dc;
  background: linear-gradient(40deg, #4fb7dc 0%, #4946c3 100%);
  outline: 0;
  border: #4946c3 3px solid;
  font-weight: 600;
}

.about__section .btn-hire:hover {
  background: #4fb7dc;
  background: -webkit-gradient(linear, left top, left bottom, from(#4fb7dc), to(#4946c3));
  background: linear-gradient(180deg, #4fb7dc 0%, #4946c3 100%);
}

.about__section .btn-resume {
  width: 100%;
  outline: 0;
  font-weight: 600;
  color: #4fb7dc;
  border: 3px solid #4fb7dc;
}

.about__section .btn-resume:hover {
  background: #4fb7dc;
  color: #4946c3;
}

.portfolio__section h3 {
  color: #4fb7dc;
}

.portfolio__section .btn__preview {
  width: auto;
  background: #4fb7dc;
  background: linear-gradient(40deg, #4fb7dc 0%, #4946c3 100%);
  outline: 0;
  border: none;
  color: #fbfbfb;
  font-weight: 500;
}

.portfolio__section .btn__preview:hover {
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  background: #4fb7dc;
  background: -webkit-gradient(linear, left top, left bottom, from(#4fb7dc), to(#4946c3));
  background: linear-gradient(180deg, #4fb7dc 0%, #4946c3 100%);
}

.services__card {
  height: 23rem;
  background: #101630;
  border: 8px solid #4946c3;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.services__card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__card .card-header h3 {
  line-height: 32px;
  text-transform: uppercase;
}

.services__card .card-header i {
  font-size: 3rem;
  margin-right: 1rem;
}

.experience__section img:hover {
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  -webkit-transform: scale(110%);
          transform: scale(110%);
  cursor: pointer;
}

.footer__section {
  background: #4fb7dc;
  background: linear-gradient(-45deg, #4fb7dc 0%, #4946c3 100%);
  border-radius: 4rem 4rem 0 0;
}

.footer__section .contact__form {
  background: #4fb7dc;
  background: linear-gradient(45deg, #4fb7dc 0%, #4946c3 100%);
  -webkit-box-shadow: 0 0 15px #4946c3;
          box-shadow: 0 0 15px #4946c3;
  border-radius: 20px;
}

.footer__section .contact__form form input,
.footer__section .contact__form form button,
.footer__section .contact__form form textarea {
  padding: 0.8rem 1rem;
  border-radius: 12px;
  background: #101630;
  color: #fbfbfb;
  font-weight: 600;
  outline: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer__section .footer__primary .contact__inner .contact__icon {
  text-align: center;
  padding: 0.8rem;
  border-radius: 10px;
  background: #4fb7dc;
  -webkit-box-shadow: inset 20px 20px 60px #439cbb, inset -20px -20px 60px #5bd2fd;
          box-shadow: inset 20px 20px 60px #439cbb, inset -20px -20px 60px #5bd2fd;
}

.footer__section .footer__primary .contact__inner .contact__icon i {
  font-size: 1rem;
}

.footer__section .footer__secondary .img-fluid {
  width: 100px;
  height: auto;
}

.footer__section .footer__secondary .footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__section .footer__secondary .footer__socials .social__icon {
  padding: 1rem;
  border-radius: 10px;
  background: #4fb7dc;
  -webkit-box-shadow: inset 20px 20px 60px #439cbb, inset -20px -20px 60px #5bd2fd;
          box-shadow: inset 20px 20px 60px #439cbb, inset -20px -20px 60px #5bd2fd;
}

.footer__section .footer__secondary .footer__socials .social__icon a {
  color: #fbfbfb;
  text-decoration: none;
}

.footer__section .footer__secondary .footer__socials .social__icon a i {
  font-size: 1.5rem;
}

@media (max-width: 576px) {
  .footer__primary h3,
  .footer__primary p {
    text-align: center;
  }
  .footer__secondary {
    text-align: center;
  }
  .about__section {
    text-align: center;
  }
  .portfolio__section {
    text-align: center;
  }
  .slider__section {
    text-align: center;
  }
  .slider__section p {
    font-size: 1rem;
    font-weight: 600;
  }
  .slider__section h1 {
    font-family: "Luckiest Guy", cursive;
    letter-spacing: 2px;
    font-size: 3.5rem;
  }
  .slider__section h1 span {
    color: #4fb7dc;
  }
  .slider__section .btn {
    background: #4fb7dc;
    background: linear-gradient(40deg, #4fb7dc 0%, #4946c3 100%);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0 !important;
  }
  .services__card {
    height: auto;
    width: auto;
  }
  .services__card .card-header h3 {
    font-size: 1.5rem;
  }
  .services__card .card-header i {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

.btn__anime:hover {
  -webkit-animation: pulsate 1s ease-in-out;
          animation: pulsate 1s ease-in-out;
}

.btn__anime2:hover {
  -webkit-animation: pulsate2 1s ease-in-out;
          animation: pulsate2 1s ease-in-out;
  cursor: pointer;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 25px #4fb7dc, 0 0 50px #4946c3;
            box-shadow: 0 0 25px #4fb7dc, 0 0 50px #4946c3;
  }
}

@keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 25px #4fb7dc, 0 0 50px #4946c3;
            box-shadow: 0 0 25px #4fb7dc, 0 0 50px #4946c3;
  }
}

@-webkit-keyframes pulsate2 {
  0% {
    -webkit-box-shadow: 0 0 25px #4fb7dc, 0 0 10px #4946c3;
            box-shadow: 0 0 25px #4fb7dc, 0 0 10px #4946c3;
  }
}

@keyframes pulsate2 {
  0% {
    -webkit-box-shadow: 0 0 25px #4fb7dc, 0 0 10px #4946c3;
            box-shadow: 0 0 25px #4fb7dc, 0 0 10px #4946c3;
  }
}
/*# sourceMappingURL=style.css.map */